<header class="main_h">
  <div class="cont clearfix">

    <%= render 'layouts/participation_header' %>
    <h1><%= title t('gobierto_participation.edit_consultation_cta') %></h1>
  </div>
</header>

<div class="cont clearfix">
  <div class="main">

    <%= render 'form' %>
  </div>

  <div class="sidebar">
  </div>
</div>
