<div class="label js-economic_area"><%= link_to '&nbsp; <i class="fa fa-sort-down"></i>'.html_safe, '' %></div>

<div class="tree">
  <% cache('economic_area') do %>
  <ul class="bonsai">
    <li><%= link_to 'Todas', '#', data: {'menu-area' => 'all', 'rel' => 'economic_area' } %></li>
    <% EconomicArea.root_items(kind).each do |item| %>
      <li>
        <%= link_to item.name, '#', data: { 'menu-area' => item.code, 'rel' => 'economic_area'  } %>
        <%= render_children(item, 'economic_area') %>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>
