<p>¿Entiendes de qué va esta partida?</p>

<div class="reply">
  <div class="inner">
    <p>Puedes solicitar a tu alcalde que amplie la información sobre esta y otras partidas</p>

    <%= render partial: 'answers/login_share' %>
  </div>
</div>
