<% set_meta_tags title: 'Preguntas frecuentes ' %>

<div class="pre_home">
  <div class="about_block" id="method">
    <h2>Preguntas Frecuentes</h2>
    <p><strong>Mis opiniones: ¿son privadas?</strong> Sí. Sólo guardamos opiniones sobre presupuestos o partidas de forma anónima y agregada con fines estadísticos. Y al opinar sobre una partida (levanta la mano!), podrás ver el resultado estadístico agregado de todos los que han opinado, pero en ningún caso se podrá saber qué opinaste tú en particular de una partida u otra.</p>
    <p>Sin embargo, si deseas compartir públicamente tus opiniones o links a una partida u otra, te ponemos fácil que lo hagas en Twitter o Facebook con el botón "Comparte" que encontrarás en la parte superior de de la página o al opinar sobre una partida.
    <p><strong>Mis datos: ¿son privados?</strong> Sí. Si nos dejas tu email, lo usaremos para mantenerte informado sobre tu municipio o, en caso de que tengas preguntas para tu ayuntamiento, para que nos pongamos en contacto contigo en caso de que recibamos respuestas.</p>
    <p><strong>Si os dejo mi email, ¿qué otra información voy a recibir?</strong> Sólo información interesante, claro! ;-) Si nos dices qué municipio te interesa, te podremos enviar un email si se publican nuevos datos relativos a ese municipio, como por ejemplo:
    <ul>
      <li>- Cuando se publiquen los nuevos presupuestos anuales</li>
      <li>- Cuando se publiquen los datos de ejecución del presupuesto, donde podrás ver cómo se ha gastado el dinero y si coincide con lo que se presupuestó</li>
      <li>- Si alguien de tu municipio contesta a preguntas o hace aclaraciones</li>
      <li>- Cuando publiquemos mejoras que te permitan estudiar mejor o de otra forma la información de tu municipio</li>
    </ul>
    </p>
    <p><strong>¿Y si me quiero dar de baja?</strong>Podrás hacerlo cuando quieras. En todos los emails que te enviamos incluímos un link para que te des de baja si ya no quieres recibir más información</p>
  </div>
</div>