<p>Puedes usar Markdown para dar formato a tu texto.</p>

<ul>
  <li>## Encabezado de 2do nivel</li>
  <li>### Encabezado de 3er nivel</li>
  <li>[Texto del enlace](URL)</li>
  <li>**negrita**</li>
  <li><%= link_to 'Todas las opciones', 'http://joedicastro.com/pages/markdown.html', target: :blank %>.</li>
</ul>

