
<header class="place">
  <div class="breadcrumb">
    <h1>
      Ranking <span class="sep"> » </span>
      <span>
        <div class="switcher kind_switcher">
          <%= link_to "Gastos <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li><%= link_to 'Gastos' %></li>
            <li><%= link_to 'Ingresos' %></li>
          </ul>
        </div>
        <span class="sep"> » </span>
      </span>
      <span>Gastos corrientes <span class="sep"> » </span></span>
      <span>Servicios públicos básicos <span class="sep"> » </span></span>
      <span>Limpieza viaria <span class="sep"> » </span></span>
      <span>Total</span>
    </h1>
  </div>
</header>

<div class="items">
  <table class="">
  <thead>
    <th class="location">Municipio</th>
    <th class="right">Habitantes</th>
    <th class="right">Gasto total</th>
    <th class="right">Gasto por habitante</th> 
    <th >Compara</th>

  </thead>
  <tbody>
    <tr>
      <td ><a href="#">Madrid</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Barcelona</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Valencia</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Bilbao</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Madrid</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Barcelona</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Valencia</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Bilbao</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Madrid</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Barcelona</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Valencia</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    <tr>
      <td ><a href="#">Bilbao</a></td>
      <td class="right">2.456.78</td>
      <td class="right">1.234.567,87€</td>
      <td class="right">345€</td>
      <td >Compara</td>
    </tr>
    
  </tbody>
  </table>
</div>