/*
 * CSS Settings
 *
 */
/* ToDo: Change to production location */
@import "vendor/populities";
@import "vendor/tipsy";
@import "vendor/jquery.dynatable";
@import "vendor/quill.snow";
// @import "vendor/pickadate/classic";
// @import "vendor/pickadate/classic.date";
// @import "vendor/pickadate/classic.time";
@import "bourbon";
@import "cookies_eu";
@import "vendor/sparkline";
@import "vendor/jquery.bonsai";
// Old visualizations
// @import "vis_bars";
// @import "vis_distribution";
// @import "vis_dispersion";
// @import "vis_evolution";
// @import "vis_lineas_j";

@import "treemap";



/*
 * Site Settings
 *
 */

/* 
PALETTE: Original Greeners
AUTHOR: @furilo

$background: #FFF;
$text: #898989;

$color_1: #BCC41A;
$color_1_dark: #9AA115;
$color_1_soft: #E5E9A6;
$color_1_dark_plus: #787D10;

$color_2: #D61D57;

$color_3: #60C8D6;
$color_3_soft: #E5F2F3;
*/


/* 
PALETTE: Bluer
AUTHOR: @
*/

$background: #FFF;
$text: #554E41;
$text_soft: #B2AFA9;
$separator: #F0F0F0;

$color_1: #00909E;
$color_1_soft: #EFF8F9;
$color_1_dark: #00909E;
// $color_1_dark_plus: #172532;

$color_2: #F69C95;
$color_2_soft: #FBEEEC;
$color_2_dark: #B87570;
$color_2_bg: #FFDED4;

$color_3_soft: #F5F4F4;

/* General colors */
$color_bg_error: #F5D6D2;
$color_text_error: #9C0000;

/* visualizations */
$color_vis_place: #E9AD00;
$color_vis_province: #A479F4;
$color_vis_com: #AAC44B;
$color_vis_country: #008998;

$color_scale_1: #FFD100;
$color_scale_2: #FE7000;
$color_scale_3: #ED2F00;
$color_scale_4: #940099;
$color_scale_5: #487304;
$color_scale_6: #4A73B0;
$color_scale_7: #1B4145;
$color_scale_8: #444300;
$color_scale_9: #24190E;


/*
 * Fonts
 *
 */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600");
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";        

$font_headings: 'Work Sans';
$font_text: 'Work Sans';


/*
 * Modules
 *
 */

/*
 * Page elements: header, footer...
 *
 */
html {
  margin: 0; 
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family: $font_text;
  font-size: 16px;
  line-height: 24px;
  color: $text;
}
a {
  color: $color_1_dark;
  @include transition;
}
a:hover {
  text-decoration: underline;
}
footer {
  clear: both;
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
  // border-top: 2px solid $color_3_soft;
}


/*
 * Layout
 *
 */
.container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
}
.resp {
  @include screen(740, 2000) {
    display: none;
  }
}
.desktop {
  @include screen(740) {
    display: none;
  }
}
header.global {
  background: $color_1_soft;
  width: 190px;
  float: left;
  padding: 0;
  margin: 0;
}
.main_content {
  float: right;
  width: calc(100% - 220px - 1em);
  margin: 0 1em 0 0;
  padding: 2em 0 0 0;
}

/*
 * Header
 *
 */
.logo {
  margin: 1em 0 2em 0;
  img {
    display: inline-block;
    vertical-align: middle;
  }
  .sub-brand {
    display: inline-block;
    color: $text_soft;
    letter-spacing: -.1em;
    font-size: .8em;
    padding: 0 0 0 .9em;
  }
}
header.global {
  menu {
    margin: 0 0 2em 0;
    padding: 0; 
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        a {
          display: block; 
          background: darken($color_1_soft, 10%);
          padding: .8em .5em .5em 1em;
          text-transform: uppercase;
          text-decoration: none;
          font-size: .7em;
          font-weight: 600;
          margin: 0 0 1px 0;
          line-height: .9em;
        }
        a:hover, a.selected {
          background: darken($color_1_soft, 20%);
        }
      }
    }  
  }
  .links_list {
    padding: 1em;
    font-size: .7em;
    line-height: 1.6em;
    margin: 0 0 1em 0;
    h3 {
      opacity: .7;
      margin: 0 0 .5em 0;
      font-size: .9em;
      font-weight: 600;
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}
// if top-claim present...
body {
  padding: 2em 0 0 0;
}
.top-claim {
  position: absolute;
  z-index: 5;
  background: $color_1;
  color: $background;
  text-align: center;
  margin: 0;
  height: 2em;
  width: 100%;
  top: 0;
  left: 0;
  p {
    padding: .45em;
    line-height: 1.4em;
    margin: 0;
    font-size: .85em;  
  }
}
.year_switcher {
  position: absolute;
  width: 120px;
  z-index: 4;
  top: 1.8em; 
  right: 1em;
  border: 1px solid darken($separator, 10%);
  @include border-radius(6px);
  background: #FFF;
  ul {
    display: none;
    @include box-shadow();
  }
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    padding: .8em 1.5em .6em 1.5em;
    text-decoration: none;
    display: block;
    .fa {
      padding: 0 0 0 1em;
      opacity: .5;
    }
  }
  a:hover {
    background: $separator;
  }
}

/*
 * Main-nav
 *
 */
.main-nav {
  padding: 2em; 
  @include border-radius(10px);
  background: $color_1_soft;
  margin: 0 0 2em 0;

  .form_item {
    margin: 0 0 1em 0;
    height: 30px;
    position: relative;
    padding: 0 25px 0 0;
  }
  .col-1-2 {
    width: 60%;
  }
  .col-2-2 {
    width: 35%;
  }
  label {
    vertical-align: middle;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    font-size: .75em;
    opacity: .5;
    display: inline-block;
    width: 125px;
    text-align: right; 
  }
  .reset_filter {
    position: absolute;
    top: 0; 
    right: 0;
    padding: 3px 6px;
    display: inline-block;
  }
}
.places_search {
  padding: 3%;
  width: 94%;
  border: 1px solid $separator;
  margin: 0 0 2em 0
}
.places_menu {
  margin: 0; 
  padding: 0;
  ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none;
    li {
      margin: 0; 
      padding: 0;
      position: relative;
      a {
        font-size: 13px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        padding: .25em .5em;
        line-height: 16px;
      }
      a:hover {
        background: $color_1;
        color: $background;
      }
      ul {
        display: none;
        position: absolute;
        background: $color_1_soft;
        padding: 1em; 
        left: 100%;
        top: 0;
        width: 100%;
      }

    }
  }
}

/*
 * Tables
 *
 */
table {
  width: 100%;
  border-collapse: collapse;

  th {
    background: #F5F5F5;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;

  }
  th, td {
    padding: 4px 6px 4px 10px;
  }
  td {
    font-size: 13px;
    line-height: 17px;
  }
  th:first-child, td:first-child {
    padding-left: 0;
  }
  th:last-child, td:last-child {
    padding-right: 0;
  }
  tr:nth-child(even) {
    td {

    }
  }
  tr:nth-child(odd) {
    td {
      // background: #FCFCF2;
    }
  }
  tr:hover {
    td {
      background: #FCFCF2; 
    }
  }
  .money, .percentage {
    text-align: right;
  }
  .main_col {
    width: 30%;
  }
  .province {
    opacity: .6;
  }
}
.soft {
  opacity: .5;
}



/*
 * Bonsai
 *
 */
.bonsai li {
  li {
    font-size: 90%;
  }
}


/*
 * Place
 *
 */
header.place {
  margin: 0 0 2em 0;
  .breadcrumb {
    font-size: .8em;
    a {
      text-decoration: none;
    }
    .sep {
      color: #DFDFDF;
    }
  }
  h1 {
    margin: .35em 0;
    font-weight: 600;
    font-size: 1.65em;
    span {
      font-weight: 200;
      .sep {
        color: #DFDFDF;
      }
    }
    a {
      text-decoration: none;
    }
  }
  menu {
    margin: 0;
    padding: 0;

    ul, li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: inline-block;
    }
    a {
      font-size: .8em;
      font-weight: 200;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 .75em 0 0;
      color: #AFAFAF;
    }
  }
}
.main_metrics {
  .metric {
    position: relative;
    box-sizing: border-box;
    background: $color_1_soft;
    padding: .5em .7em .6em .7em;
    width: 19%;
    float: left;
    margin: 0 1.2% 0 0;
    @include transition;

    
    .label {
      font-weight: 600;
      opacity: .7;
      font-size: .7em;
    }
    .main {
      font-size: 1.3em;
    }
    .percentage_change {
      position: absolute;
      font-size: .7em;
      top: 1.4em;
      right: 1em;
      line-height: 1em;
      opacity: .7;
    }
    .ranking {
      position: absolute;
      font-size: .7em;
      bottom: 1em;
      right: 1em;
      line-height: 1em;
      opacity: .7;
    }

  }
  .metric:hover {
    background: darken($color_1_soft, 20%);
    cursor: pointer;
  }
  .metric:last-child {
    float: right;
    margin: 0;
  }
  .metric.selected {
    background: darken($color_1_soft, 10%);
  }
  .metric.selected::after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 15px solid transparent;
    border-top-color: darken($color_1_soft, 10%);
    top: 100%;
    left: 41%;
  }
}

.metric_graphs .widget_graph {
  display: none;
}
.metric_graphs .show {
  display: block; 
}


.ie_intro {
  margin: 2em 0;
  header.cat {
    margin: 0 0 1em 0;
    h2 {
      display: inline-block;
      margin: 0;
    }
    .qty {
      float: right;
    }
    .form_filters {
      margin: 0 0 0 1.5em;
      float: none;
      vertical-align: top;
    }
  }
  .items {
    font-size: .9em;
  }
  .items table td.bar_cont {
    width: 40px;
  }
}


.section_separator {
  margin: 4em 0;
  text-align: center;
  color: $text_soft;
  font-size: .75em;
  .sep {
    width: 10%;
    border-top: 1px solid $text_soft;
    height: 1px;
    margin: 1em auto;
    opacity: .5;

  }
}

a.list_view_more {
  @include border-radius(3px);
  display: block;
  background: $color_1_soft;
  color: $text_soft;
  padding: .5em 0 .4em 0;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 600;
}

.items {
  input.search_items {
    width: 96%;
    padding: 1.5% 2% 1%;
    font-size: .9em;
    margin: 0 0 .5em 0;
    border-radius: 3px;
    border: 1px solid $separator;
  }
  table {
    td {
      font-size: .95em;  
    }
    th {
      font-size: .75em;
      background: none;
      border-bottom: 4px solid $separator;
      color: $text_soft;
    }
    .fa {
      padding: 0 .5em 0 0;
      vertical-align: middle;
    }
    td {
      padding-top: 8px;
      padding-bottom: 7px;
    }
    tr:nth-child(2) td {
      padding-top: 20px;
    }
    td.amount {
      white-space: nowrap;
    }
    td.item_name {
      width: 50%;
    }
    td.total {
      width: 150px;
    }
    td.per_hab {
      width: 120px;
    }
    td.percentage {
      width: 80px;
    }
    td.bar_cont {
      width: 90px;
      padding: 0;
    }
    tr:hover td tr td {
      background: initial;
    }
    tr.child_group {
      td {
        .child_tb_cont {
          font-size: .95em;
          background: #F5F4F4;
          @include border-radius(6px);
          margin: 0 0 0 20px;
          padding: 10px 20px;
          td.bar_cont {
            width: 80px;
            padding: 0;
          }
        }
        tr.child_group {
          td {
            .child_tb_cont {
              background: #E4E2E2;  
              @include border-radius(6px);
              margin: 0 0 0 20px;
              padding: 10px 20px;
              td.bar_cont {
                width: 60px;
                padding: 0;
              }
            }
          }
        }
      }
      
    }
  }
}

/*
 * Graphs
 *
 */
.widget_graph {
  padding: 1.5em 2em;
  margin: 1.5em 0;
  background: $color_3_soft;

  h2 {
    margin: 0;
    font-size: 1.2em;
  }

  .graph_cont {
    background: #EFEFEF;
  }
  table {
    .per_change {
      font-weight: 200;
      line-height: 1.2em;
      width: 22%;
    }
    td {
      border-top: 1px solid lighten($text_soft, 15%);
      padding: .75em 0;
    }
  }
}

.graph_placeholder {
  background: #EFEFEF;
  text-align: center;
  padding: 5em 0;
}
.bar_cont {
  width: 60px;
}
.bar {
  background: $color_vis_place;
  height: 12px;
}



/*
 * Legends
 *
 */
.le {
  display: inline-block;
  @include border-radius(10px);
  height: 10px;
  width: 10px;
  margin: 0 10px 0 0;
}
.le-place {
  background: $color_vis_place;
}
.le-province {
  background: $color_vis_province;
}
.le-com {
  background: $color_vis_com;
}
.le-country {
  background: $color_vis_country;
}


/*
 * XXXX
 *
 */
.form_item {
  vertical-align: top;
  position: relative;
}
.place_search {
  font-size: 1em;
  width: calc(100% - 141px);
}
.input {
  border: 1px solid $text_soft;
  @include border-radius(4px);
  background: $background;
  padding: 6px 2px 5px;
  font: 1em $font_text;
}
.reset_filter {
  // position: absolute;
  // top: 0;
  // right: -17px;
  // padding: 5px;
}
.select_from_tree {
  width: calc(100% - 141px);
  display: inline-block;
  background: $background;
  z-index: 100;

  .label {
    position: relative;
    z-index: 99;
    
    a {
      display: block;
      border: 1px solid $text_soft;
      @include border-radius(4px);
      background: $background;
      padding: 3px 7px;
      text-decoration: none;
    }
    a:hover {
      background: darken($color_1_soft, 10%);
    }
    .fa {
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: .8em;
    }
  }
  .tree {
    display: none;
    z-index: 101;
    position: absolute;
    background: $background;
    border: 1px solid $text_soft; 
    padding: .5em;
    margin-top: -5px;
    border-top: none;
    margin-right: 26px;
  }
}


/*
 * Autocomplete
 *
 */
.autocomplete-suggestions { 
  border: 1px solid #999; 
  font-size: 12px;
  background: #FFF; 
  cursor: default; 
  overflow: auto; 
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
}
.autocomplete-suggestion { padding: 2px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 10px;}
.autocomplete-selected { background: $color_1; color: #FFF; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { }
.autocomplete-group strong { 
  font-weight: bold; 
  font-size: 14px; 
  color: #999; 
  background: $separator;
  padding: 2px 10px;
  text-transform: uppercase;
  display: block; 
  border-bottom: 1px solid $separator; 
}


/*
 * Widgets
 *
 */
.widget_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -10px;
  margin-bottom: 3em;
}

.widget {
  background: $color_2_bg;
  flex: 3 0 auto;
  margin: 10px;
  width: 30%;

  h2, h3 {
    color: $color_2_dark;
    margin: 0 0 1em 0;
    font-size: 14px;
    font-weight: normal;
    // color: $background;
  }
}

.widget.clearfix {
  background: $color_2;
}

.sub_element {
  border-bottom: 1px solid #FFF;
  width: 50%;
  float: left;
  height: 100px;
  box-sizing: border-box;
  padding: 1.2em 0 0 1.2em;

  h3 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: $color_2_soft;
  }
  .number {
    margin: .2em 0 0 0;
    font-size: 30px;
    color: $background;

    .sub {
      font-size: 18px;
      opacity: .75;
    }
  }
}
.sub_element:nth-child(2n) {
  border-left: 1px solid #FFF;
  width: calc(50% - 1px);

}
.widget_cont {
  padding: 1em; 
}
.widget-1-2 {

}


/*
 * Data sheet
 *
 */
.data_sheet {
  header {
    font-size: .85em;
    margin: 0 0 1.5em 0;
    
    small {
      display: block;
    }
    h1 {
      margin: .5em 0 0 0;
    }
  }

}
.form_filters {
  display: inline-block;
  float: right;
  font-size: 12px;

  .group {
    display: inline-block;
    margin: 0 0 0 1em;
  }
  ul, li {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    display: inline-block;
  }
  ul {
    @include border-radius(2em);
    background: #EFF8F9;
    padding: 0 10px;
    margin: 0 1em 0 0;
  }
  li a {
    display: inline-block;
    border-right: 1px solid $background;
    text-decoration: none;
    padding: 1px 7px;
    margin: 0;
    
  }
  li:last-child a {
    border: none;
  }
  li a:hover, li a.buttonSelected {
    background: #D1EAED;
  }
}


/*
 * Compare widget
 *
 */
.compare_cont {
  position: relative;
  a {
    
  }
}
.compare {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 340px;
  display: none;
  background: #FFF;
  right: 0;
  border: 3px solid $color_1;
  @include border-radius(6px);
  // box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @include box-shadow();
  padding: 6px 0;
  line-height: 22px;

  p {
    padding: 3px 14px;
    margin: 0 0 .5em 0;
  }
  a {
    padding: 3px 8px 3px 18px;
    display: block;
  }
  a:hover {
    background: $color_1_soft;
  }
}


/*
 * Footer
 *
 */
footer {
  border: 1px solid $separator;
  margin: 8em 0;
  padding: 8em 0;
  text-align: center;
}


/*
 * Spinner
 *
 */
.spinnner {
  display: none;
}
