/*
 * CSS Settings
 *
 */
/* ToDo: Change to production location */
@import "vendor/populities";
@import "vendor/tipsy";
@import "vendor/jquery.dynatable";
@import "vendor/quill.snow";
// @import "vendor/pickadate/classic";
// @import "vendor/pickadate/classic.date";
// @import "vendor/pickadate/classic.time";
@import "bourbon";
@import "cookies_eu";


/*
 * Site Settings
 *
 */

/* 
PALETTE: Original Greeners
AUTHOR: @furilo

$background: #FFF;
$text: #898989;

$color_1: #BCC41A;
$color_1_dark: #9AA115;
$color_1_soft: #E5E9A6;
$color_1_dark_plus: #787D10;

$color_2: #D61D57;

$color_3: #60C8D6;
$color_3_soft: #E5F2F3;
*/


/* 
PALETTE: Bluer
AUTHOR: @
*/

$background: #FFF;
$text: #554E41;
$text_soft: #B2AFA9;
$separator: #F0F0F0;

$color_1: #00909E;
$color_1_soft: #EFF8F9;
$color_1_dark: #00909E;
// $color_1_dark_plus: #172532;


/* General colors */
$color_bg_error: #F5D6D2;
$color_text_error: #9C0000;


/*
 * Fonts
 *
 */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,600");
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";        

$font_headings: 'Work Sans';
$font_text: 'Work Sans';


/*
 * Modules
 *
 */

/*
 * Page elements: header, footer...
 *
 */
html {
  margin: 0; 
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family: $font_text;
  font-size: 16px;
  line-height: 24px;
  color: $text;
}
a {
  color: $color_1_dark;
  @include transition;
}
a:hover {
  text-decoration: underline;
}
footer {
  clear: both;
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
  // border-top: 2px solid $color_3_soft;
}


/*
 * Layout
 *
 */
.container {
  width: 95%;
  max-width: 1600px;
  margin: auto;
}
.resp {
  @include screen(740, 2000) {
    display: none;
  }
}
.desktop {
  @include screen(740) {
    display: none;
  }
}


/*
 * Header
 *
 */
.top-claim {
  background: $color_1;
  color: $background;
  padding: .45em;
  text-align: center;
  margin: 0 0 1.5em 0;
  font-size: .85em;
}
.logo {
  img {
    display: inline-block;
    vertical-align: middle;
  }
  .sub-brand {
    display: inline-block;
    color: $text_soft;
  }
  .sub-brand:before {
    content: "|";
    padding: 0 .5em;
    opacity: .5;
  }
}
header.global {
  border-bottom: 1px solid $separator;
  padding: 0 0 0em 0;
  margin: 0 0 2em 0;
}


/*
 * Main-nav
 *
 */
.main-nav {
  padding: 1em; 
  @include border-radius(4px);
  background: $color_1_soft;

  label {
    text-transform: uppercase;
    font-size: .8em;
    opacity: .75;
    display: inline-block;
    width: 125px;
    text-align: right; 
  }
}
