.treemap_node {
  border: solid 1px white;
  font: 13px Work Sans;
  overflow: hidden;
  position: absolute;
  color: white;
  padding: 0px;
}

.treemap_node p {
  margin: 0;
  padding: 3px 0 0 3px;
} 