.treemap_node {
  border: solid 1px white;
  font: 13px Work Sans;
  overflow: hidden;
  position: absolute;
  color: white;
  padding: 0px;
  cursor: pointer;
}

.treemap_node p {
  margin: 0;
  padding: 8px 8px 0 8px;
} 
