<div class="alert">
  <p><i class="fa fa-exclamation-circle"></i> Mmm... No tenemos datos sobre este municipio para este año. Prueba con otro año... <%= link_to '¿Por qué no hay datos?', faq_path(anchor: 'no_data') %></p>
</div>