<tr>
  <td><%= budget_line_denomination area, budget_line['code'],kind %></td>
  <td class="right amount"><%= number_to_currency budget_line['amount'], precision: 0 %></td>
  <td class="right"><strong><%= percentage_of_total budget_line['amount'], total_budget %>%</strong></td>
  <td class="bar_cont">
    <div class="bar" style="width:<%= percentage_of_total(budget_line['amount'], total_budget).to_i %>%"></div>
  </td>
</tr>
